.contact-banner {
  background-image: url(./../src/contact.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-section {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 70px;
  background-color: aliceblue;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 640px;
  border-radius: 2%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact-container {
  align-items: center;
  justify-content: center;
}

.contact-section h2 {
  text-align: center;
  padding-bottom: 10px;
}

.contact-container h2 {
  padding-top: 30px;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

#message{
  height: 100px;
}

label {
  display: block;
  font-weight: bold;
  margin-left: 5px;
}

.btns{
  transition: ease-in 0.2s;
}

.btns:hover{
  color: #0092C2;
  transform: scale(1.01);
  transition: ease-out 0.2s;
}

#agree {
  display: flex;
  align-items: center;
}

#agree input[type="checkbox"] {
  height: 15px;
  width: 15px;
  margin-top: 18px;
}

#agree p {
  margin: 0;
  padding: 0;
  width: 1000px;
}

input,
textarea{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 18px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  display: block;
  height: 16px;
  margin-top: -16px;
  visibility: hidden;
}

.show-error {
  display: block;
}

input:invalid,
textarea:invalid  {
  box-shadow: none;
  outline: none;
}

.success-message {
  color: green;
  font-size: 16px;
  margin-top: 10px;
}